{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ govukHeader({
  homepageUrl: "../index.html",
  serviceName: "Government Grants Management Function",
  serviceUrl: "#",
  navigation: [
    {
      href: "#",
      text: "Support tickets"
    },
    {
      href: "#",
      text: "How to"
    },
    {
      href: "release-notes",
      text: "What's new"
    }
  ]
}) }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a prototype service'
}) }}

 {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/sprint_6/start-page.html"
      },
      {
        text: "Downloads",
        href: "/sprint_6/downloads.html"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Downloads
      </h1>
        
        <p class="govuk-body">On this page you can download GGiS data from your organisation and the rest of government. The spreadsheets are generated for you using live GGiS data.</p>
        
        <p class="govuk-body">You can also filter and download spreadsheets on the following pages:</p>
        
        <ul class="govuk-list govuk-list--bullet">
        <li><a href="/sprint_6/schemes#view-grants-in-aid" class="govuk-link">View grant schemes</a></li>
        <li><a href="/sprint_6/awards#view-awards" class="govuk-link">View your awards</a></li>
        </ul>
        
        <p class="govuk-body">You can search for a recipient then download all their awards through the following page:</p>
        
        <ul class="govuk-list govuk-list--bullet">
        <li><a href="/sprint_6/awards#view-recipients" class="govuk-link">View recipients</a></li>
        </ul>
        
        <div class="govuk-!-padding-bottom-4"></div>
        
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Read this before using this data
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">Accuracy of GGiS data is the responsibility of the funding departments.</p>
            <p class="govuk-body">Data downloaded from GGiS should only be utilised internally and should not be used to make public facing statistical claims unless express agreement from the department's Grants Champion has been sought.</p>  
            <p class="govuk-body">For publicly available grants data, please refer to the published
              <a href="https://www.gov.uk/government/collections/government-grants-data-and-statistics" class="govuk-link">Government grants data and statistics</a>.</p>
          </div>
        </details>
        
    </div>
  </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full"> 
            
            <hr class="govuk-section-break govuk-section-break--visible"> 
            
                <div class="govuk-grid-row">
                  <div class="govuk-!-padding-top-6"></div>
                      <div class="govuk-grid-column-two-thirds">
                        <h2 class="govuk-heading-m">My Organisation’s Schemes</h2>                   
                        <p class="govuk-body">For Arm’s-length body (ALB) users, this will include all schemes managed by your ALB.</p>
                        <p class="govuk-body">For central department users, this will include all schemes managed by either your department or an ALB your department sponsors.</p>   
                        <p>Includes all years for which GGiS has data.</p>
                          
                      </div>
                      <div class="govuk-grid-column-one-third">
                        <button class="govuk-button govuk-prototype-kit-task-list__tag" data-module="govuk-button">
                          Download spreadsheet (CSV)
                      </button>
                      </div>
                </div>
            <div class="govuk-!-padding-bottom-2"></div>
            
            <hr class="govuk-section-break govuk-section-break--visible"> 
            
                <div class="govuk-grid-row">
                  <div class="govuk-!-padding-top-6"></div>
                      <div class="govuk-grid-column-two-thirds">
                        <h2 class="govuk-heading-m">My Organisation’s Awards</h2>            
                          <p class="govuk-body">For ALB users, this will include all awards managed by your ALB.</p>
                          <p class="govuk-body">For central department users, this will include all awards mananged by either your department or an ALB your department sponsors.</p>  
                          <p>Includes all years for which GGiS has data.</p>

                      </div>
                      <div class="govuk-grid-column-one-third">
                        <button class="govuk-button govuk-prototype-kit-task-list__tag" data-module="govuk-button">
                          Download spreadsheet (CSV)
                      </button>
                      </div>
                </div>
            <div class="govuk-!-padding-bottom-2"></div>
              
            <hr class="govuk-section-break govuk-section-break--visible"> 
            
            <div class="govuk-grid-row">
                  <div class="govuk-!-padding-top-6"></div>
                      <div class="govuk-grid-column-two-thirds">
                        <h2 class="govuk-heading-m">My Organisation’s Grants in Aid</h2>   
                          <p class="govuk-body">Grants in aid are a way for one part of the government to fund another.</p>
                          <p class="govuk-body">Includes all years for which GGiS has data.</p>
                          
                          <span class="govuk-body-s" style="color:#505A5F;">This is only visible to central departments.</span>
                          
                      </div>
                      <div class="govuk-grid-column-one-third">
                        <button class="govuk-button govuk-prototype-kit-task-list__tag" data-module="govuk-button">
                          Download spreadsheet (CSV)
                      </button>
                      </div>
                </div>
            <div class="govuk-!-padding-bottom-6"></div>
              
            <hr class="govuk-section-break govuk-section-break--visible">
            
                <div class="govuk-grid-row">
                  <div class="govuk-!-padding-top-6"></div>
                      <div class="govuk-grid-column-two-thirds">
                        <h2 class="govuk-heading-m">All Schemes</h2>                   
                        <p class="govuk-body">Includes all years for which GGiS has data, and schemes for all government departments and ALBs.</p>
                        <span class="govuk-body-s" style="color:#505A5F;">You can view data from all departments unless it has been marked as “do not publish”.</span>
                      </div>
                      <div class="govuk-grid-column-one-third">
                        <button class="govuk-button govuk-prototype-kit-task-list__tag" data-module="govuk-button">
                          Download spreadsheet (CSV)
                      </button>
                      </div>
                </div>
            <div class="govuk-!-padding-bottom-6"></div>
              
            <hr class="govuk-section-break govuk-section-break--visible">
            
                <div class="govuk-grid-row">
                  <div class="govuk-!-padding-top-6"></div>
                      <div class="govuk-grid-column-two-thirds">
                        <h2 class="govuk-heading-m">All Departments’ Awards</h2>                   
                        <p class="govuk-body">Includes data for the current and past two financial years. Historical data can be found on the page for <a href="https://www.gov.uk/government/collections/government-grants-data-and-statistics" class="govuk-link">Government grants data and statistics</a>.</p>
                        <span class="govuk-body-s" style="color:#505A5F;">You can view data from all departments unless it has been marked as “do not publish”.</span>  
                      </div>
                      <div class="govuk-grid-column-one-third">
                        <button class="govuk-button govuk-prototype-kit-task-list__tag" data-module="govuk-button">
                          Download spreadsheet (CSV)
                      </button>
                      </div>
                </div>
            <div class="govuk-!-padding-bottom-6"></div>
              
            <hr class="govuk-section-break govuk-section-break--visible">
            
            <div class="govuk-grid-row">
                  <div class="govuk-!-padding-top-6"></div>
                      <div class="govuk-grid-column-two-thirds">
                        <h2 class="govuk-heading-m">User Licences</h2>                   
                        <p class="govuk-body">Lists all active users in your department and what type of GGiS account they have.</p>
                        <span class="govuk-body-s" style="color:#505A5F;">This is only visible to GGiS Grants Champions.</span>  
                      </div>
                      <div class="govuk-grid-column-one-third">
                        <button class="govuk-button govuk-prototype-kit-task-list__tag" data-module="govuk-button">
                          Download spreadsheet (CSV)
                      </button>
                      </div>
                </div>
            <div class="govuk-!-padding-bottom-6"></div>
            
            <hr class="govuk-section-break govuk-section-break--visible">
            
            <div class="govuk-grid-row">
                  <div class="govuk-!-padding-top-6"></div>
                      <div class="govuk-grid-column-two-thirds">
                        <h2 class="govuk-heading-m">All Departments’ GGiS Grants Champions</h2>                   
                        
                        <span class="govuk-body-s" style="color:#505A5F;">This is only visible to GGiS Grants Champions.</span>  
                      </div>
                      <div class="govuk-grid-column-one-third">
                        <button class="govuk-button govuk-prototype-kit-task-list__tag" data-module="govuk-button">
                          Download spreadsheet (CSV)
                      </button>
                      </div>
                </div>
            <div class="govuk-!-padding-bottom-6"></div>

    </div>
    </div>

{% endblock %}


