{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ govukHeader({
  homepageUrl: "../index.html",
  serviceName: "Government Grants Management Function",
  serviceUrl: "#",
  navigation: [
    {
      href: "#",
      text: "Support tickets"
    },
    {
      href: "#",
      text: "How to"
    },
    {
      href: "release-notes",
      text: "What's new"
    }
  ]
}) }}
{% endblock %}

{% block beforeContent %}
 {{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a prototype service'
}) }}

 {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/sprint_6/start-page.html"
      },
      {
        text: "Grant awards",
        href: "/sprint_6/awards.html"
      },
      {
        text: "Award name",
        href: "/sprint_6/grant-award.html"
      }
    ]
  }) }}
{% endblock %}

{% block pageScripts %}
  <script>
    $(function() {
        $('#grid-toggle-3').click(function() {
        $("#awardtable").toggleClass('hide')
        $("#awardgrid").toggleClass('hide')
        });
    })
  </script>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <span class="govuk-caption-l">Grant award</span>
            <h1 class="govuk-heading-l">LGBT Foundation</h1>
        
        <div class="govuk-!-padding-bottom-2"></div>

        <div class="govuk-tabs" data-module="govuk-tabs">
              <h2 class="govuk-tabs__title">
                Contents
              </h2>
              <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                  <a class="govuk-tabs__tab" href="#award-information" style="color: #1d70b8;">
                    Grant award information 
                  </a>
                </li>
                <li class="govuk-tabs__list-item">
                  <a class="govuk-tabs__tab" href="#award-audit" style="color: #1d70b8;">
                    Award audit history
                  </a>
                </li>
              </ul>
              <div class="govuk-tabs__panel" id="award-information">         
              </div>
              <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="award-audit">
                  
                <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">   
                <h2 class="govuk-heading-l">View this award's audit history</h2>
                  
                  <p class="govuk-body"><s>Here are all the actions that have taken place for this award.</s></p>
                </div> 
                </div> 
                  
                  <hr class="govuk-section-break govuk-section-break--visible govuk-!-padding-top-3"> 
        
             <!-- <div class="govuk-grid-row govuk-!-padding-top-7 govuk-!-padding-bottom-4">
                  <div class="govuk-grid-column-three-quarters">
                  <div class="govuk-grid-column-three-quarters govuk-!-padding-right-0 govuk-!-padding-left-0">
                    <input class="govuk-input govuk-!-width-full govuk-!-padding-left-3" id="full" name="full" type="text" placeholder="Search">
                  </div>
                  <div class="govuk-grid-column-one-quarter govuk-!-padding-left-0">
                    <button class="govuk-button" style="background-color:#1d70b8" data-module="govuk-button">
                       Search
                    </button>  
                  </div>
              </div>
              
          </div> -->
                  
          <div class="govuk-!-padding-bottom-2"></div>
              
              <div class="govuk-grid-row govuk-!-padding-top-7">
    <div class="govuk-grid-column-full">  
    
    <div class="govuk-grid-column-one-half govuk-!-padding-left-0">     
    <p class="govuk-body">Showing 1 - 1 of 1 result</p>
    </div>
    
    <div class="govuk-grid-column-one-half govuk-!-padding-right-0 govuk-!-padding-top-1" style="text-align: right;">    

    </div>
               
    <div class="govuk-grid-column-full govuk-!-padding-0" id="awardgrid">
        
      <hr class="govuk-section-break govuk-section-break--visible">     
        
      <table class="govuk-table">

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">

            <th scope="col" class="govuk-table__header">Date
              <!--  <a style="display: inline-flex; align-items: top;">Date
                    <img src="/public/icons/sort-2.svg" class="govuk-!-padding-left-1" alt="arrow" style="height: 20px;">
                </a> -->
            </th>
              
            <th scope="col" class="govuk-table__header">User
              <!--   <a style="display: inline-flex; align-items: top;">User
                    <img src="/public/icons/sort-2.svg" class="govuk-!-padding-left-0" alt="arrow" style="height: 20px;">
                </a> -->
            </th>
            
            <th scope="col" class="govuk-table__header">Object
              <!--   <a style="display: inline-flex; align-items: top;">Object
                    <img src="/public/icons/sort-2.svg" class="govuk-!-padding-left-0" alt="arrow" style="height: 20px;">
                </a> -->
            </th>
              
            <th scope="col" class="govuk-table__header">Field
              <!--   <a style="display: inline-flex; align-items: top;">Field
                    <img src="/public/icons/sort-2.svg" class="govuk-!-padding-left-0" alt="arrow" style="height: 20px;">
                </a> -->
            </th>   
            
            <th scope="col" class="govuk-table__header">Original value
              <!--   <a style="display: inline-flex; align-items: top;">Original value
                    <img src="/public/icons/sort-2.svg" class="govuk-!-padding-left-0" alt="arrow" style="height: 20px;">
                </a> -->
            </th>   
              
            <th scope="col" class="govuk-table__header">New value
              <!--   <a style="display: inline-flex; align-items: top;">New value
                    <img src="/public/icons/sort-2.svg" class="govuk-!-padding-left-0" alt="arrow" style="height: 20px;">
                </a> -->
            </th>   

          </tr>
        </thead>

        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">

            <td class="govuk-table__cell">???</td>

            <td class="govuk-table__cell">???</td>

            <td class="govuk-table__cell">???</td>
            
            <td class="govuk-table__cell">???</td>  

            <td class="govuk-table__cell">???</td>
              
            <td class="govuk-table__cell">???</td>  

          </tr>
           
        </tbody>
      </table> 
        
    </div>
    </div>
    </div>             
                  
              </div>
            </div>

    </div>
  </div>

{% endblock %}
