{% extends "layouts/main.html" %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ govukHeader({
  homepageUrl: "../index.html",
  serviceName: "Government Grants Management Function",
  serviceUrl: "#",
  navigation: [
    {
      href: "#",
      text: "Support tickets"
    },
    {
      href: "#",
      text: "How to"
    },
    {
      href: "release-notes",
      text: "What's new"
    }
  ]
}) }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a prototype service'
}) }}
{% endblock %}

{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">       

        <div class="govuk-notification-banner" role="region"
          aria-labelledby="govuk-notification-banner-title"
          data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Important
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
           <p class="govuk-body">We have replaced Reports with a new page called Downloads where you can download your data from GGiS, with more options coming later this summer.</p> <p> Readiness assessments are no longer available, if you need to view old assessments you can contact <a class="govuk-notification-banner__link" href="#">grantshubsupport@cabinetoffice.gov.uk</a>.</p> 
          </div>
        </div>
     </div>
</div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Home
      </h1>
        
        <p class="govuk-body">Welcome to GGiS, the Government Grants Information System.
        </p>
        
        <p class="govuk-body">Here you can explore grants data for your organisation and the rest of government. Users with edit access can upload and edit their grants data.</p>
        
        <div class="govuk-!-padding-bottom-6"></div>

    </div>
  </div>

    <div class="govuk-grid-row">    
        <div class="govuk-grid-column-one-third">
            <div class="govuk-summary-card" style="height: 639.8px;">
              <div class="govuk-summary-card__title-wrapper">
                <h2> <a href="/sprint_6/schemes.html" class="govuk-link govuk-heading-m">Grant Schemes</a> <p class="govuk-body">Grant schemes are programmes for making awards in order to contribute to a policy objective.</p>
                    <p class="govuk-body">Grants in aid are transfers from one part of government to another.</p>
               <p>Here you can view, create and edit grant schemes and grants in aid.</p></h2>
              </div>
              <div class="govuk-summary-card__content govuk-!-padding-top-6">
                <dl class="govuk-summary-list">
                  <ul class="govuk-list">
                      <li>
                        <a class="govuk-link" href="/sprint_6/schemes#add-grant-scheme">Add a grant scheme</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="/sprint_6/schemes#view-grant-scheme">View grant schemes</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="/sprint_6/schemes#add-grant-in-aid">Add a grant in aid</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="/sprint_6/schemes#view-grants-in-aid">View grants in aid</a>
                      </li>
                    </ul>
                </dl>
              </div>
            </div>
         </div>
        
        <div class="govuk-grid-column-one-third">
            <div class="govuk-summary-card">
              <div class="govuk-summary-card__title-wrapper" style="height: 398.8px;">
                <h2> <a href="/sprint_6/awards.html" class="govuk-link govuk-heading-m">Grant Awards</a> <p class="govuk-body">Grant awards are paid by a grant maker to a recipient. Every award comes under a parent grant scheme.</p>
               <p>Here you can view, create and edit awards, and view recipients.</p></h2>
              </div>
              <div class="govuk-summary-card__content govuk-!-padding-top-6">
                <dl class="govuk-summary-list">
                  <ul class="govuk-list">
                      <li>
                        <a class="govuk-link" href="/sprint_6/awards#add-award">Add an award</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="/sprint_6/awards#upload-edit-bulk">Upload and edit awards in bulk</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="/sprint_6/awards#previous-upload">Previous uploads</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="/sprint_6/awards#view-awards">View your awards</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="/sprint_6/awards#view-recipients">View recipients</a>
                      </li>
                    </ul>    
                </dl>
              </div>
            </div>
         </div>

        <div class="govuk-grid-column-one-third">
            <div class="govuk-summary-card" style="height: 639.8px;">
              <div class="govuk-summary-card__title-wrapper" style="height: 398.8px;">
                <h2> <a href="/sprint_6/downloads.html" class="govuk-link govuk-heading-m">Downloads</a> <p class="govuk-body">Here you can download spreadsheets with data about grant schemes, grant awards and grants in aid.</p>
               <p>Grants champions can also download spreadsheets with GGiS user data.</p></h2>
              </div>
              <div class="govuk-summary-card__content">
              </div>
            </div>
         </div>
        </div>
        
       <!-- <div class="govuk-!-padding-bottom-6"></div>

        <div class="govuk-notification-banner" role="region"
          aria-labelledby="govuk-notification-banner-title"
          data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Important
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
           <p class="govuk-body">Readiness assessments are no longer available, if you need to view old assessments you can contact <a class="govuk-notification-banner__link" href="#">person@email.com</a>.</p> 
          </div>
        </div> -->

{% endblock %}