{% extends "layouts/main.html" %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ govukHeader({
  homepageUrl: "../index.html",
  serviceName: "Government Grants Management Function",
  serviceUrl: "#",
  navigation: [
    {
      href: "#",
      text: "Support tickets"
    },
    {
      href: "#",
      text: "How to"
    }
  ]
}) }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a prototype service'
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        <a href="/sprint_3/start-page.html" class="govuk-link--no-underline govuk-link--no-visited-state">Home</a>
      </h1>
        
        <p class="govuk-body">Welcome to GGiS, the Government Grants Information System.
        </p>
        
        <p class="govuk-body">Here you can explore grants data for your organisation and the rest of government. Users with edit access can upload and edit their grants data.</p>
        
        <div class="govuk-!-padding-bottom-6"></div>

    </div>
  </div>

    <div class="govuk-grid-row">    
        <div class="govuk-grid-column-one-third">
            <div class="govuk-panel govuk-!-margin-bottom-0" style="background-color:#1d70b8; height: 180px;">
                <img src="/public/images/scheme.png" alt="Scheme icon">
            </div>
            <div class="govuk-summary-card" style="border: none;">
              <div class="govuk-summary-card__title-wrapper" style="background-color:#f3f2f1; border: none; border-bottom: 3px solid #1d70b8; height: ;">
                <h2> <a href="/sprint_3/schemes.html" class="govuk-link govuk-heading-m">Grant Schemes</a> <p class="govuk-body">Grant schemes are programmes for making one or more grant award in order to contribute to a policy objective.</p>
               <p>Here you can view, create and edit grant schemes and grants in aid, which are transfers from one part of government to another.</p>
                <dl class="govuk-summary-list govuk-!-margin-bottom-0">
                  <ul class="govuk-list govuk-!-margin-bottom-0">
                      <li>
                        <a class="govuk-link" href="##">Add a grant scheme</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="###">View grant schemes</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="####">Add a grant in aid</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="#####">View grants in aid</a>
                      </li>
                    </ul>
                </dl>
                </h2>
              </div>
            </div>
         </div>
        
        <div class="govuk-grid-column-one-third">
            <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-0" style="height: 180px;">
                <img src="/public/images/award.png" alt="Scheme icon">
            </div>
            <div class="govuk-summary-card" style="border: none;">
              <div class="govuk-summary-card__title-wrapper" style="background-color:#f3f2f1; border: none; border-bottom: 3px solid #1d70b8; height: 474.8px;">
                <h2> <a href="/sprint_3/awards.html" class="govuk-link govuk-heading-m">Grant Awards</a> <p class="govuk-body">Grant awards are paid by a grant maker to a recipient. Every award comes under a parent grant scheme.</p>
               <p>Here you can view, create and edit awards, and view recipients.</p>
                <dl class="govuk-summary-list govuk-!-margin-bottom-0">
                  <ul class="govuk-list govuk-!-margin-bottom-0">
                      <li>
                        <a class="govuk-link" href="##">Upload and edit awards in bulk</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="###">Previous uploads</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="####">Add an award</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="#####">View your awards</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="#####">View recipients</a>
                      </li>
                    </ul>
                </dl>
                </h2>
              </div>
            </div>
         </div>
        
        <div class="govuk-grid-column-one-third">
            <div class="govuk-panel govuk-!-margin-bottom-0" style="background-color:#bd5401; height: 180px;">
                <img src="/public/images/download.png" alt="Scheme icon">
            </div>
            <div class="govuk-summary-card" style="border: none;">
              <div class="govuk-summary-card__title-wrapper" style="background-color:#f3f2f1; border: none; border-bottom: 3px solid #1d70b8; height: 474.8px;">
                <h2> <a href="/sprint_3/downloads.html" class="govuk-link govuk-heading-m">Downloads</a> <p class="govuk-body">Here you can download spreadsheets with data about grant schemes, grant awards and grants in aid.</p>
               <p>Grants champions can also download spreadsheets with GGIS user data.</p>
                </h2>
              </div>
            </div>
         </div>
        </div>

        <div class="govuk-!-padding-bottom-6"></div>

        <div class="govuk-notification-banner" role="region"
          aria-labelledby="govuk-notification-banner-title"
          data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Important
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
           <p class="govuk-body">Readiness assessments are no longer available, if you need to view old assessments use the following link. <a class="govuk-notification-banner__link" href="#">View readiness assessments</a></p> 
          </div>
        </div>

{% endblock %}