{% extends "layouts/main.html" %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ govukHeader({
  homepageUrl: "../index.html",
  serviceName: "Government Grants Management Function",
  serviceUrl: "#",
  navigation: [
    {
      href: "#",
      text: "Support tickets"
    },
    {
      href: "#",
      text: "How to"
    }
  ]
}) }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a prototype service'
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        <a href="/sprint_3/start-page-2.html" class="govuk-link--no-underline govuk-link--no-visited-state">Home</a> 
      </h1>
        
        <p class="govuk-body">Welcome to GGiS, the Government Grants Information System.
        </p>
        
        <p class="govuk-body">Here you can explore grants data for your organisation and the rest of government. Users with edit access can upload and edit their grants data.</p>
        
        <div class="govuk-!-padding-bottom-6"></div>

    </div>
  </div>

   <!-- <div class="govuk-grid-row">
      
        <div class="govuk-grid-column-one-third">
            <a href="/sprint_3/schemes.html">
             <div class="govuk-panel" style="background-color:#1d70b8; height: 300px;">
                <img src="/public/images/scheme.png" alt="Scheme icon">
              <h1 class="govuk-heading-l" style="color:white; padding-top: 32px;">
                Grant Schemes
              </h1>
             </div>
            </a>
            <p>Edit, add and view schemes and grants-in-aid.</p>
            
          <!--  <ul class="govuk-list govuk-list--bullet">
             <li>Add, edit and view schemes</li>
            <li>Add, edit and view grants-in-aid</li> 
            <li><a href="/sprint_2/schemes-stack.html" class="govuk-link">Version 2</a></li>
            <li><a href="/sprint_2/schemes-stack-reveal.html" class="govuk-link">Version 3</a></li>   
          </ul> 
        </div>    
        
      <div class="govuk-grid-column-one-third">
          <a href="/sprint_3/awards.html">
            <div class="govuk-panel govuk-panel--confirmation" style="height: 300px;">
              <img src="/public/images/award.png" alt="Award icon">
             <h1 class="govuk-heading-l" style="color:white; padding-top: 32px;">
                Grant Awards
             </h1>
          </div>
          </a>
          <ul class="govuk-list govuk-list--bullet">
            <li>Add and edit awards</li>
            <li>Upload awards in bulk</li>
            <li>View existing awards lists</li>
            <li>View recipient organisation details</li> 
          </ul>
      </div>
        
      <div class="govuk-grid-column-one-third">
        <a href="/sprint_3/downloads.html">
            <div class="govuk-panel" style="background-color:#bd5401; height: 300px;">
                <img src="/public/images/download.png" alt="Download icon">
            <h1 class="govuk-heading-l" style="color:white; padding-top: 32px;">
               Downloads           
            </h1>   
            </div>
          </a>
          <p>Download spreadsheets for grant schemes, grant awards and more.</p>
          <!--
          <ul class="govuk-list govuk-list--bullet">
            <li>Explore your data</li>
            <li>Export data for analysis</li>  
          </ul> 
      </div>    
    </div> -->



    <div class="govuk-grid-row">    
        <div class="govuk-grid-column-one-third">
            <div class="govuk-summary-card" style="height: 452.8px;">
              <div class="govuk-summary-card__title-wrapper">
                <h2> <a href="/sprint_3/schemes.html" class="govuk-link govuk-heading-m">Grant Schemes</a> <p class="govuk-body">**PLACEHOLDER <s>Add, edit and view grant schemes, as well as add and edit grants-in-aid.</s>
                    </p></h2>
              </div>
              <div class="govuk-summary-card__content govuk-!-padding-top-6">
                <dl class="govuk-summary-list">
                  <ul class="govuk-list">
                      <li>
                        <a class="govuk-link" href="/sprint_3/schemes#add-grant-scheme">Add a grant scheme</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="/sprint_3/schemes#view-grant-scheme">View a grant scheme</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="/sprint_3/schemes#add-grant-in-aid">Add a grant-in-aid</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="/sprint_3/schemes#view-grants-in-aid">View grants-in-aid</a>
                      </li>
                    </ul>
                </dl>
              </div>
            </div>
         </div>
        
        <div class="govuk-grid-column-one-third">
            <div class="govuk-summary-card">
              <div class="govuk-summary-card__title-wrapper">
                <h2> <a href="/sprint_3/awards.html" class="govuk-link govuk-heading-m">Grant Awards</a> <p class="govuk-body">**PLACEHOLDER <s>Add, edit and upload awards, view award lists and recipient organisations.</s></p></h2>
              </div>
              <div class="govuk-summary-card__content govuk-!-padding-top-6">
                <dl class="govuk-summary-list">
                  <ul class="govuk-list">
                      <li>
                        <a class="govuk-link" href="awards#upload-edit-bulk">Upload and edit awards in bulk</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="awards#previous-upload">Previous uploads</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="awards#add-award">Add an award</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="awards#view-awards">View your awards</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="awards#view-recipients">View recipients</a>
                      </li>
                    </ul>    
                </dl>
              </div>
            </div>
         </div>

        <div class="govuk-grid-column-one-third">
            <div class="govuk-summary-card" style="height: 452.8px;">
              <div class="govuk-summary-card__title-wrapper">
                <h2> <a href="/sprint_3/downloads.html" class="govuk-link govuk-heading-m">Downloads</a> <p class="govuk-body">**PLACEHOLDER <s>Download spreadsheets for grant schemes, grant awards and more.</s></p></h2>
              </div>
              <div class="govuk-summary-card__content">
              </div>
            </div>
         </div>
        </div>
        
        <div class="govuk-!-padding-bottom-6"></div>

        <div class="govuk-notification-banner" role="region"
          aria-labelledby="govuk-notification-banner-title"
          data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Important
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
           <p class="govuk-body">Readiness assessments are no longer available, if you need to view old assessments use the following link. <a class="govuk-notification-banner__link" href="#">View readiness assessments</a></p> 
          </div>
        </div>

{% endblock %}