{% extends "layouts/main.html" %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ govukHeader({
  homepageUrl: "../index.html",
  serviceName: "Government Grants Management Function",
  serviceUrl: "#",
  navigation: [
    {
      href: "#",
      text: "Support tickets"
    },
    {
      href: "#",
      text: "How to"
    }
  ]
}) }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a prototype service'
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Home
      </h1>
        
        <p class="govuk-body">**PLACEHOLDER <s>This is the home of the Government Grants Information System (GGIS), to capture information about grant funding across the whole of government.</s>s></p>
        
        <div class="govuk-!-padding-bottom-4"></div>

    </div>
  </div>

    <div class="govuk-grid-row">    
        <div class="govuk-grid-column-one-third">
            <div class="govuk-panel govuk-!-margin-bottom-0" style="background-color:#1d70b8; height: 180px;">
                <img src="/public/images/scheme.png" alt="Scheme icon">
            </div>
            <div class="govuk-summary-card" style="border: none;">
              <div class="govuk-summary-card__title-wrapper" style="background-color:#f3f2f1; border: none; border-bottom: 3px solid #1d70b8; height: 379.8px;">
                <h2> <a href="#/sprint_3/schemes.html" class="govuk-link govuk-heading-m">Grant Schemes</a> <p class="govuk-body">**PLACEHOLDER <s>Add, edit and view grant schemes, as well as add and edit grants-in-aid.</s>
                    </p>
                <dl class="govuk-summary-list">
                  <ul class="govuk-list">
                      <li>
                        <a class="govuk-link" href="##">Add a grant scheme</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="###">View a grant scheme</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="####">Add a grant-in-aid</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="#####">View grants-in-aid</a>
                      </li>
                    </ul>
                </dl>
                </h2>
              </div>
            </div>
         </div>
        
        <div class="govuk-grid-column-one-third">
            <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-0" style="height: 180px;">
                <img src="/public/images/award.png" alt="Scheme icon">
            </div>
            <div class="govuk-summary-card" style="border: none;">
              <div class="govuk-summary-card__title-wrapper" style="background-color:#f3f2f1; border: none; border-bottom: 3px solid #1d70b8;">
                <h2> <a href="#/sprint_3/awards.html" class="govuk-link govuk-heading-m">Grant Awards</a> <p class="govuk-body">**PLACEHOLDER <s>Add, edit and upload awards, view award lists and recipient organisations.</s>
                    </p>
                <dl class="govuk-summary-list">
                  <ul class="govuk-list">
                      <li>
                        <a class="govuk-link" href="##">Upload and edit awards in bulk</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="###">Previous uploads</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="####">Add an award</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="#####">View your awards</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="#####">View recipients</a>
                      </li>
                    </ul>
                </dl>
                </h2>
              </div>
            </div>
         </div>
        
        <div class="govuk-grid-column-one-third">
            <div class="govuk-panel govuk-!-margin-bottom-0" style="background-color:#bd5401; height: 180px;">
                <img src="/public/images/download.png" alt="Scheme icon">
            </div>
            <div class="govuk-summary-card" style="border: none;">
              <div class="govuk-summary-card__title-wrapper" style="background-color:#f3f2f1; border: none; border-bottom: 3px solid #1d70b8; height: 379.8px;">
                <h2> <a href="#/sprint_3/downloads.html" class="govuk-link govuk-heading-m">Downloads</a> <p class="govuk-body">**PLACEHOLDER <s>Download spreadsheets for grant schemes, grant awards and more.</s>
                    </p>
                </h2>
              </div>
            </div>
         </div>

        </div>

{% endblock %}

style="height: 452.8px;"