{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ govukHeader({
  homepageUrl: "../index.html",
  serviceName: "Government Grants Management Function",
  serviceUrl: "#",
  navigation: [
    {
      href: "#",
      text: "Support tickets"
    },
    {
      href: "#",
      text: "How to"
    }
  ]
}) }}
{% endblock %}

{% block pageScripts %}
  <script type="text/javascript">
    var $element = document.querySelector('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav($element).init()
  </script>
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a prototype service'
}) }}

 {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/sprint_1/start-page.html"
      },
      {
        text: "Downloads",
        href: "/sprint_1/downloads-3.html"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Downloads</span>
        <h1 class="govuk-heading-l">
            User licences, grant schemes and grant awards
        </h1>
    </div>
  
  
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body-l">Here are some of the data files you are able to download. You can also download filtered down files on the “View Schemes”, “View Awards” and “View Recipients” pages, as well as within each Recipient record.</p>
    </div> 
  </div>
  
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">    
          <section id="reports">
          <h2 class="govuk-body govuk-!-font-size-27 govuk-!-font-weight-bold">Reports</h2>
              <div>
                  <section>
                    <div class="govuk-grid-row">
                      <div class="govuk-grid-column-one-quarter">
                        <img src="/public/images/csv_icon.png" alt="csv icon">
                      </div>
                      <div class="govuk-grid-column-three-quarters">
                          <h3 class="govuk-body govuk-!-font-size-27"><a href="#" class="govuk-link">User Licences</a></h3>
                            <p>Download a file listing all active users in your department and what type of GGiS account they have, and all departments’ GGIS Grants Champions.</p>
                          <span class="govuk-body-s" style="color:#505A5F;">These reports are only visible to GGIS Grants Champions.</span>
                      </div>
                    </div>
                  </section>
                  
                  <div class="govuk-!-padding-bottom-7"></div>
                  
                  <section>
                    <div class="govuk-grid-row">
                      <div class="govuk-grid-column-one-quarter">
                        <img src="/public/images/csv_icon.png" alt="csv icon">
                      </div>
                      <div class="govuk-grid-column-three-quarters">
                          <h3 class="govuk-body govuk-!-font-size-27"><a href="#" class="govuk-link">My Organisation’s Schemes</a></h3>
                            <p>Download a file listing your organisation’s grant schemes.</p>
                      </div>
                    </div>
                  </section>
                  
                  <div class="govuk-!-padding-bottom-7"></div>
                  
                  <section>
                    <div class="govuk-grid-row">
                      <div class="govuk-grid-column-one-quarter">
                        <img src="/public/images/csv_icon.png" alt="csv icon">
                      </div>
                      <div class="govuk-grid-column-three-quarters">
                          <h3 class="govuk-body govuk-!-font-size-27"><a href="#" class="govuk-link">All Schemes</a></h3>
                            <p>Download a file listing all grant schemes on GGiS.</p>
                          <span class="govuk-body-s" style="color:#505A5F;">You cannot view any data from other departments that has been marked as not for publishing for sensitivity/national security reasons.</span>
                      </div>
                    </div>
                  </section>
                  
                  <div class="govuk-!-padding-bottom-7"></div>
                  
                  <section>
                    <div class="govuk-grid-row">
                      <div class="govuk-grid-column-one-quarter">
                        <img src="/public/images/csv_icon.png" alt="csv icon">
                      </div>
                      <div class="govuk-grid-column-three-quarters">
                          <h3 class="govuk-body govuk-!-font-size-27"><a href="#" class="govuk-link">My Organisation’s Awards</a></h3>
                            <p>Download a file listing your organisation’s grant awards.</p>
                      </div>
                    </div>
                  </section>
                  
                  <div class="govuk-!-padding-bottom-7"></div>
                  
                  <section>
                    <div class="govuk-grid-row">
                      <div class="govuk-grid-column-one-quarter">
                        <img src="/public/images/csv_icon.png" alt="csv icon">
                      </div>
                      <div class="govuk-grid-column-three-quarters">
                          <h3 class="govuk-body govuk-!-font-size-27"><a href="#" class="govuk-link">All Awards</a></h3>
                            <p>Download a file listing all grant awards on GGiS. </p>
                          <span class="govuk-body-s" style="color:#505A5F;">You cannot view any data from other departments that has been marked as not for publishing for sensitivity/national security reasons.</span>
                      </div>
                    </div>
                  </section>
              </div>
          </section>  
        </div>
    </div>

{% endblock %}
