{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m"></caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Prototype</th>
              <th scope="col" class="govuk-table__header">Sprint</th>
              <th scope="col" class="govuk-table__header">Date</th>
              <th scope="col" class="govuk-table__header">Status</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="/sprint_1/sign-in.html" aria-describedby="sprint-1">
                  Downloads page V1, search and filters V1
                </a>
              </th>
              <td class="govuk-table__cell">Sprint 1</td>
              <td class="govuk-table__cell">30 May - 9 June 2023</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue" id="sprint-1-status">Tested</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="/sprint_2/sign-in.html" aria-describedby="sprint-2">
                  Downloads page V2, search and filters V2
                </a>
              </th>
              <td class="govuk-table__cell">Sprint 2</td>
              <td class="govuk-table__cell">12 June - 23 June 2023</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue" id="sprint-2-status">Tested</strong></td>
            </tr> 
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="/sprint_3/sign-in.html" aria-describedby="sprint-3-4">
                  Homepage V2, downloads page V3, search and filters V3
                </a>
              </th>
              <td class="govuk-table__cell">Sprint 3 & 4</td>
              <td class="govuk-table__cell">26 June - 21 July 2023</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue" id="sprint-3-4-status">Tested</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="/sprint_5/sign-in.html" aria-describedby="sprint-5">
                  Recipients, release notes, search and filter V4
                </a>
              </th>
              <td class="govuk-table__cell">Sprint 5</td>
              <td class="govuk-table__cell">24 June - 4 July 2023</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue" id="sprint-5-status">In progress</strong></td>
            </tr>   
          </tbody>
        </table>  
        
    </div>
  </div>
    
  </div>
</div>

{% endblock %}
